/*For Golden Ratio font sizes:
	title: 47px (unused);
	head: 27px;
	sub-head: 23px;
	default: 18px;
	secondary: 14px;
*/

html, body{
	margin: 0px;
	padding: 0px;
}

* {
	font-family: 'Open Sans', Verdana, sans-serif;
	color: #333333;
}

body {
  background-color: #EEE;
  text-align: center;
}

img{
	max-width: 100%;
}

p,li {
  text-align: left;
  margin-right: 5px;
  font-size: 18px;
}

li {
	list-style-type: square;
}

h1,h3,h4{
	font-family: 'Raleway', Verdana, sans-serif;
}

h1{
	font-size: 32px;
	margin: 0;
	padding: 0;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 25px;
}

header {
	max-width: 1000px;
	height: 100px;
	background: -webkit-linear-gradient(top, #2e9bd4 0%, #116d9e 100%);
	margin: 0 auto;
}

.name {
	color: #ffffff;
	text-align: center;
	position: relative;
  top: 45%;
  transform: translateY(-45%);
}

main {
	max-width: 1000px;
	background-color: rgb(255, 255, 240);
	margin: 0 auto;
}

#main_inner{
	margin: 0 7%;
}

footer {
	max-width: 1000px;
	height: 100px;
	background: -webkit-linear-gradient(top, #191919 0%, #4A4A4A 100%);
	text-align: center;
	margin: 0 auto;
}


.cc {
 float: right;
 margin-right: 25px;
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.mugshot_container
	{
		padding: 40px;
		display: block;
		text-align: center;
	}

.mugshot {
 position: relative;
 border-radius: 5px;
}


a:hover {
	font-weight: bold;
}

.icons img{
 margin-top: 5px;
 height: 64px;
}

.icons img:hover{
    	opacity:0.75;
}
