/*For Golden Ratio font sizes:
	title: 47px (unused);
	head: 27px;
	sub-head: 23px;
	default: 18px;
	secondary: 14px;
*/

* {
	font-family: 'Raleway', Verdana, sans-serif;
	color: #333333;
}

body {
  background-color: #ccc;
  text-align: center;
}  

img{
	max-width: 100%;
}

p,li {
  text-align: left;
  margin-right: 5px;
  font-size: 18px;
}

p {
    margin-left: 15px;
}

li {
	list-style-type: square;
}

h4{
	font-family: 'Droid Serif', Verdana, serif;
	margin-bottom: 15px;
	font-size: 29px;
}

h5{
	font-family: 'Droid Serif', Verdana, serif;
	font-size: 23px;
}

header {
	height: 100px;
	font-family: 'Droid Serif', Verdana, serif;
	background-color: #007BFF;
	max-width: 1000px;
	margin: auto;
}

main {

	max-width: 1000px;
	background-color: #f5f5f5;
	margin: 0 auto;
}

footer {
	height: 75px;
	background-color: #140d04;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

.cc {
 float: right;
 margin: 20px;
}

.mugshot_container
	{
		padding: 40px;
		display: block;
		text-align: center;
	}

.mugshot {
 position: relative;
 border-radius: 5px
}

.name {
	float: left;
	margin-left: 2em;
	font-family: 'Droid Serif', Verdana, serif;
	color: #ffffff;
}

a:hover {
	font-weight: bold;
}

.icons img{
 margin-top: 5px;
 height: 64px;
}

.icons img:hover{
    	opacity:0.75;
}








